/* app css stylesheet */
.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.flex-container {
  display: flex; }

md-sidenav {
  background-color: #2B2E3E; }

.glyphicon-align-left {
  color: #00D3C4; }

md-toolbar .glyphicon-remove {
  color: #FF003D; }

md-toolbar.title-wrap {
  background-color: transparent;
  flex-direction: row; }
  md-toolbar.title-wrap .title {
    color: #56596A; }

md-toolbar.active-tool {
  margin-top: 25%;
  background-color: #FF003D; }

.title {
  font-size: 38px;
  font-weight: 300;
  margin: 0; }

.badge {
  background-color: #00D3C4;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  margin: 0 0 0 6px;
  padding: 4px 8px; }

.colored-button {
  background-color: #00D3C4;
  border-color: #00D3C4;
  color: #fff;
  font-weight: 700;
  padding: 6px 25px; }
  .colored-button:hover {
    background-color: #00D3C4;
    color: #fff; }
  .colored-button:active, .colored-button:focus, .colored-button:visited, .colored-button[disabled="disabled"] {
    background-color: #00D3C4 !important;
    color: #fff !important;
    outline: none !important; }

.outline-button {
  background-color: #fff;
  border-color: #FF003D;
  color: #FF003D;
  padding: 6px 20px; }
  .outline-button:hover {
    background-color: #fff;
    border-color: #FF003D !important;
    color: #FF003D; }
  .outline-button:active, .outline-button:focus, .outline-button:visited, .outline-button[disabled="disabled"] {
    background-color: #fff !important;
    border-color: #FF003D !important;
    color: #FF003D !important;
    outline: none !important; }

.card {
  background-color: #fff;
  display: block; }

.items-card {
  min-height: 500px;
  padding-bottom: 20px; }
  @media all and (max-width: 767px) {
    .items-card {
      min-height: 0; } }
  .items-card .colored-button {
    margin-left: 10px; }

.item {
  border-left: 4px solid transparent;
  padding: 12px 15px 0;
  transition: border-color .3s; }
  .item.active-item {
    border-left: 4px solid #FF003D; }
  .item .outline-button {
    margin-bottom: 8px; }
  .item .item-title {
    padding-top: 4px; }
    .item .item-title:focus {
      outline: none; }
  .item md-divider {
    clear: both; }

md-list-item.comment {
  align-items: flex-start;
  color: #666666;
  padding: 16px 0; }
  md-list-item.comment:nth-of-type(odd) .avatar {
    background-color: #FF8200; }
  md-list-item.comment:nth-of-type(even) .avatar {
    background-color: #49518E; }
  md-list-item.comment .avatar {
    border-radius: 0;
    height: 60px;
    margin-top: 4px;
    width: 60px; }
    md-list-item.comment .avatar.default {
      background-color: #E6E6E6;
      margin-top: 0; }
  md-list-item.comment textarea.form-control {
    border: 2px solid #E6E6E6;
    border-radius: 0;
    box-shadow: none;
    height: 76px;
    resize: none; }

.ng-enter,
.ng-leave {
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1; }

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0; }
