doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Notes App
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")


		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="bower_components/angular-material/angular-material.css")
		link(rel="stylesheet" href="app.css")

	body(ng-app="notesApp" ng-controller="appCtrl")

		div.full-height(layout="column" ng-cloak)
			section(layout="row" flex)
				md-sidenav.md-sidenav-left(md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4")
					md-toolbar.title-wrap
						h1.md-toolbar-tools.title Main
						md-button.md-icon-button.md-primary.pull-right(ng-click="close()" hide-gt-md)
							span.glyphicon.glyphicon-remove
					md-toolbar.active-tool
						h1.md-toolbar-tools Overview

				md-content.full-width
					div
						md-button.md-icon-button.md-primary(ng-click="toggleLeft()" hide-gt-md)
							span.glyphicon.glyphicon-align-left
					div.container-fluid
						div.row
							div.col-xs-12.col-sm-6.md-padding
								md-whiteframe.md-whiteframe-4dp.card.items-card.full-width
									h3.md-padding.title Items
									div.md-padding
										div.pull-right
											button.colored-button.btn.btn-default(ng-click="addItem(itemTitle)" ng-disabled="!itemTitle.length") Add New
										div.form-group.flex-container
											input.full-width.form-control(type="text" ng-model="itemTitle" placeholder="Type name here...")
									div.items
										div.clearfix.item(ng-repeat="item in items track by $index" ng-class="{'active-item': activeIndex == $index}")
											div.pull-right
												button.outline-button.btn.btn-default(ng-click="removeItem($index)") Delete
											div.item-title.flex-container(ng-click="chooseItem($index)")
												p
													strong {{item.title}}&nbsp;
													span.badge {{item.comments.length}}
											md-divider
							div.col-xs-12.col-sm-6.md-padding
								md-whiteframe.md-whiteframe-4dp.card.full-width.md-padding
									h3.title Comments \#{{activeIndex + 1}}
									md-list
										md-list-item.comment.md-padding(ng-repeat="comment in items[activeIndex].comments track by $index")
											div.avatar.md-avatar
											div.md-list-item-text
												p {{comment}}
											md-divider(ng-hide="$last")
										md-list-item.comment.md-padding
											div.avatar.default.md-avatar
											textarea.full-width.form-control(ng-model="itemComment" ng-textarea-enter="addComment(itemComment)")

		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-aria/angular-aria.js")
		script(src="bower_components/angular-animate/angular-animate.js")
		script(src="bower_components/angular-material/angular-material.js")
		script(src="bower_components/ng-textarea-enter/src/ng-textarea-enter.js")
		script(src="app.js")
