/* app css stylesheet */
.full-width {
  width: 100%; }

.badge {
  background-color: #259b24;
  border-radius: 10px;
  color: white;
  margin: 0 0 0 6px;
  padding: 4px 8px; }

.colored-button {
  background-color: green;
  border-color: green;
  color: #fff; }
  .colored-button:hover {
    background-color: green;
    color: #fff; }
  .colored-button:active, .colored-button:focus, .colored-button:visited, .colored-button[disabled="disabled"] {
    background-color: green !important;
    color: #fff !important;
    outline: none !important; }

.card {
  background-color: #fff;
  display: block; }

.item {
  border-left: 4px solid transparent;
  transition: border-color .3s; }
  .item.active-item {
    border-left: 4px solid red; }

md-list-item.comment {
  align-items: flex-start;
  padding: 16px 0; }
  md-list-item.comment:nth-of-type(odd) .avatar {
    background-color: orange; }
  md-list-item.comment:nth-of-type(even) .avatar {
    background-color: blue; }
  md-list-item.comment .avatar {
    border-radius: 0;
    height: 60px;
    margin-top: 4px;
    width: 60px; }
    md-list-item.comment .avatar.default {
      background-color: gray;
      margin-top: 0; }
