doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Notes App
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")


		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="bower_components/angular-material/angular-material.css")
		link(rel="stylesheet" href="app.css")

	body(ng-app="notesApp" ng-controller="appCtrl")

		div(layout="column" style="height: 100%;" ng-cloak)
			section(layout="row" flex)
				md-sidenav.md-sidenav-left(md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4")
					md-toolbar
						h1.md-toolbar-tools Main
					md-toolbar
						h1.md-toolbar-tools Overview
					md-content(layout-padding)
						md-button.md-primary(ng-click="close()" hide-gt-md) Close Sidenav Left
				md-content.full-width
					div
						md-button.md-primary(ng-click="toggleLeft()" hide-gt-md) Toggle left
					div.container-fluid
						div.row
							div.col-xs-12.col-sm-6.md-padding
								md-whiteframe.md-whiteframe-4dp.card.full-width
									h3.md-padding Items
									div.row.md-padding
										div.col-xs-8
											div.form-group
												input.full-width.form-control.styled-input(type="text" ng-model="itemTitle" placeholder="Type name here...")
										div.col-xs-4
											button.colored-button.btn.btn-default(ng-click="addItem(itemTitle)" ng-disabled="!itemTitle.length") Add New
									div.items
										div.clearfix.item(ng-repeat="item in items track by $index" ng-class="{'active-item': activeIndex == $index}")
											md-button.md-primary.md-raised.pull-right(ng-click="removeItem($index)") Delete
											div.md-padding(ng-click="chooseItem($index)")
												p
													strong {{item.title}}&nbsp;
													span.badge {{item.comments.length}}
							div.col-xs-12.col-sm-6.md-padding
								md-whiteframe.md-whiteframe-4dp.card.full-width.md-padding
									h3 
										| Comments \#{{activeIndex + 1}}
									md-list
										md-list-item.comment.md-padding(ng-repeat="comment in items[activeIndex].comments track by $index")
											div.avatar.md-avatar
											div.md-list-item-text
												p {{comment}}
											md-divider(ng-hide="$last")
										md-list-item.comment.md-padding
											div.avatar.default.md-avatar
											form.full-width
												textarea.full-width.form-control(ng-model="itemComment")
												button.pull-right(type="submit" ng-click="addComment(itemComment)") Add Comment
					

		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-aria/angular-aria.js")
		script(src="bower_components/angular-animate/angular-animate.js")
		script(src="bower_components/angular-material/angular-material.js")
		script(src="app.js")
