<div class="board-wrap">
  <div class="tools">
    <button style="margin: 0 5px;" (click)="resetBoard()">Reset</button>
    <button style="margin: 0 5px;" (click)="saveBoard()">Save</button>
    <button style="margin: 0 5px;" (click)="loadBoard()">Load</button>
    <button
      style="margin: 0 5px;" (click)="changeColorPalette()">
      Change Color Palette
    </button>
  </div>
  <div class="board" [ngClass]="board.colorPalette">
    <div class="row" *ngFor="let row of board.data; let i = index">
      <div
        class="square" *ngFor="let square of row; let j = index"
        [id]="'figure' + i + j">
        <div
          class="figure-area" [class.highlight]="square.canDrop"
          (drop)="onDrop($event, i)" [appDropTarget]="{ data: square, i: i, j: j }">
        </div>
        <div
          class="figure" [class.disabled]="square.disabled"
          [draggable]="!square.disabled" *ngIf="square.figure"
          [appDraggable]="{ data: square, i: i, j: j }"
          (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd($event)"
          (click)="highlightSquare({ data: square, i: i, j: j})">
          <img [src]="'assets/figures/'+ square.color + '-' + square.figure +'.svg'">
        </div>
      </div>
    </div>
  </div>
</div>
